%h1 Admin/Review
%h2 Pending
= render :partial => 'table', :locals => {:comments => @pending_comments, :type => 'pending'}
%h2 Accepted
= render :partial => 'table', :locals => {:comments => @accepted_comments, :type => 'accepted'}
%h2 Rejected
= render :partial => 'table', :locals => {:comments => @rejected_comments, :type => 'rejected'}
