%h1 Admin/Review
%div#pending
  %h2 Pending
  = render :partial => 'table', :locals => {:comments => @pending_comments}
%div#accepted
  %h2 Accepted
  = render :partial => 'table', :locals => {:comments => @accepted_comments}
%div#rejected
  %h2 Rejected
  = render :partial => 'table', :locals => {:comments => @rejected_comments}
