.viddetail
  %h1 Lance Toma
  -#%ul.info
    %li 
  %iframe{:class => 'vid', :src => 'http://www.youtube.com/embed/JZ5PEEeKGOo'}
  %h2 Why did you want to tell this story?
  %p Lance Toma, Executive Director of Asian & Pacific Islander Wellness Center, was interviewed by Barbara Rodgers for Comcast Newsmakers. Lance talks about May 19, National Asian & Pacific Islander HIV/AIDS Awareness Day, how HIV-related stigma contributes to rising HIV rates in the A&PI community, and some of the commemoration events happening in the San Francisco Bay Area.
  %h2 How did telling your story change you?
  %p Lance Toma, Executive Director of Asian & Pacific Islander Wellness Center, was interviewed by Barbara Rodgers for Comcast Newsmakers. Lance talks about May 19, National Asian & Pacific Islander HIV/AIDS Awareness Day, how HIV-related stigma contributes to rising HIV rates in the A&PI community, and some of the commemoration events happening in the San Francisco Bay Area.
  %h2 How do you hope hearing your story will change the community?
  %p Lance Toma, Executive Director of Asian & Pacific Islander Wellness Center, was interviewed by Barbara Rodgers for Comcast Newsmakers. Lance talks about May 19, National Asian & Pacific Islander HIV/AIDS Awareness Day, how HIV-related stigma contributes to rising HIV rates in the A&PI community, and some of the commemoration events happening in the San Francisco Bay Area.
  %h2 Q & A
  %p Lance Toma, Executive Director of Asian & Pacific Islander Wellness Center, was interviewed by Barbara Rodgers for Comcast Newsmakers. Lance talks about May 19, National Asian & Pacific Islander HIV/AIDS Awareness Day, how HIV-related stigma contributes to rising HIV rates in the A&PI community, and some of the commemoration events happening in the San Francisco Bay Area.
  %h2 Additional Media


  %h2 Comments
  .comments
    .comment
      %p Awesome!
    .newcomment
      = form_tag :method => :get, :id => 'ratings_form' do               
        = text_area_tag 'comment'
        = submit_tag 'Submit' #, :id => 'ratings_submit'
