%h1 Activity History
%h2 Videos
- @videos.each do |video|
  .video
    =link_to video.name, video_path(video)
  %br
%h2 Comments
- @comments.each do |comment|
  .comment
    =link_to comment.content, video_path(comment.video_id)
  %br
%h2 Messages
