%h1 Status
%p= @status
- if @user.blocked?
  =button_to 'Unblock', { :action => "unblock", :id => @user.id, :controller => "users"}
- else
  =button_to 'Block', { :action => "block", :id => @user.id, :controller => "users" }

%h1 Activity History
%h2 Videos
- @videos.each do |video|
  .video
    =link_to video.name, video_path(video)
  %br
%h2 Comments
- @comments.each do |comment|
  .comment
    =link_to comment.content, video_path(comment.video_id)
  %br
%h2 Messages
- @messages.each do |message|
  .message
    =link_to message.subject, message_path(message)
