// Place all the styles related to the api controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$back-color: #a6c197;
$container-back-color: #A0976D;
$content-back-color: #fffcee;
$front-content-back-color: #f5f6e7;
$second-color: #a0976d;
$second-color-dark: #a0976d;

$page-width: 964px;
$page-margin: 5px;

body {
  margin: 0;
  font-family: 'Georgia';
  background: $back-color url(/assets/bg.gif) repeat-x
}

a {
  color: #48ab11;
  text-decoration: underline;
}
a:hover {
  color: #999966;
  text-decoration: underline;
}
.required {
  color: red;
}
#alert{
  color: red;
}
#container-left{
  margin: 0 auto 0 auto;
  //width: 80%;
  width: 1000px;
  height:100%;
  background: url(/assets/bgBorder_left.jpg) repeat-y;
  background-position: left top;


}
#container-right{
  width:100%;
  height:100%;
  background: url(/assets/bgBorder_right.jpg) repeat-y;
  background-position: right top;
}
#logo
{
  float:left;
  margin-top:20px;
}
#login{
  position:absolute;
  top: 25px;
  right:45px;
}
#search{
  display: inline-block;
  position: absolute;
  top: 50px;
  right: 45px;
}
#background-left{
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:100%;
  background: url(/assets/headerBg_left.jpg) no-repeat;
  background-position: left top;
}
#background-right{
  position:absolute;
  right:0px;
  top:0px;
  width:35px;
  height:100%;
  background: url(/assets/headerBg_right.jpg) no-repeat;
  background-position: right top;
}

#navigation{
  margin: 0 8px;
  padding: 5px 0px;
  width: 984px;
  background: $container-back-color;
}

#navigation ul{
  width: 984px;
  margin: 0 auto;
  text-decoration: none;
  list-style: none;
  padding: 0px;
  text-align: center;
}

#navigation li, #navigation a{
  display: inline-block;
  width:190px;
}
#navigation a{
  font-size:16px;
  color:white;
  text-decoration: none;
  font-weight: bold;
  font-family: Arial, sans-serif;
}
#navigation a:hover{
  text-decoration: underline;
}
#content-left{
  background: url(/assets/naviBg_left.jpg) no-repeat;
  background-position: left top;
  width:20px;
  height:5px;
  position:absolute;
  z-index: 10;
  top:0px;
  left:-8px;
}
#content-right{
  background: url(/assets/naviBg_right.jpg) no-repeat;
  background-position: right top;
  width:20px;
  height:5px;
  position:absolute;
  z-index:10;
  top:0px;
  right:-8px;
}
#content {
  background: $content-back-color url(/assets/naviBg.jpg) repeat-x;
  margin: 0 8px;
  width: 964px;
  position:relative;
  padding: 10px;
}
#head{
  padding: 0px 40px;
  background: url(/assets/headerBg.jpg) repeat-x;
  height:113px;
  position:relative;
}
#footer{
  background: url(/assets/footer-bottom.jpg) repeat-x;
  height:35px;
  position:relative;
}

#footer-left{
  background: url(/assets/footer-left.jpg) no-repeat;
  height:100%;
  width:50px;
  position:absolute;
  top:0px;
  left:0px;
  background-position: top left;
}

#footer-right{
  background: url(/assets/footer-right.jpg) no-repeat;
  height:100%;
  width:50px;
  position:absolute;
  top:0px;
  right:0px;
  background-position: top right;
  
}
.vidlistsubmit {
  background: $second-color-dark;
  color: #fff;
  padding: 1px 10px 1px 10px;
  margin: 0px -10px;
  h1 {
    font-family: 'Radley', cursive;
    color: #fff;
    margin: 0;
    border-bottom: 1px solid $content-back-color;
  }
  a {
    color: #fff;
    text-decoration: underline;
  }
  a:hover {
    color: $back-color;
    text-decoration: underline;
  }
}

.vidlistitem {
  $vid-height: 250px;
  //$vid-aspect: 1.777777778;
  $vid-aspect: 1.333333333;
  $vid-width: $vid-aspect * $vid-height;
  background: $front-content-back-color;
  padding: 20px;
  margin: 5px 5px 25px 5px;
  clear: both;
  border: 1px solid #cccccc;
  min-height: $vid-height + 10px;
  .listvid, .listimg {
    float: left;
    width: $vid-width;
    height: $vid-height;
    margin: 5px 30px 5px 5px;
  }
  .listimg:hover {
    border: 4px solid $back-color;
    margin: 1px 26px 1px 1px;
  }
  h1 {
    float: right;
    border-bottom: 2px solid $second-color;
    font-family: 'Radley', cursive;
    a {
      text-decoration: none;
      color: #000;
    }
  }
  h1:hover {
    border-bottom: 2px solid $back-color;
  }
  p {
    clear: right;
    font-size: 16px;
    color: #6d6d6c;
  }
}


#viddetail {
  // Backwards here because we care more about width in this one
  $vid-width: $page-width;
  $vid-aspect: 1.777777778;
  $vid-height: 1/$vid-aspect * $vid-width;

  h1 {
    font-size: 40px;
    border-bottom: 2px solid $second-color;
    font-family: 'Radley', cursive;
  }
  h2 {
    border-bottom: 1px solid $second-color;
    font-family: 'Radley', cursive;
  }
  p {
    color: #0d0d0d;
    background-color: $front-content-back-color;
    border-left: 5px solid $back-color;
    padding: 5px;
  }
  .vid {
    width: $vid-width;
    height: $vid-height;
  }
}

.btp-form, .submission-form, .new-message-form, .reply-form {
  background: $front-content-back-color;
  padding: 20px;
  .additional {
    input {
      display: block;
    }
  }
  label {
    display: block;
    font-size: 20px;
    margin: 20px 0 5px 0;
    border-bottom: 2px solid $back-color;
    &.smaller {
      display: inline;
      margin: 0;
      border: 0;
      font-size: 15px;
    }
  }
}


#submission, #newmessage {
  h1 {
    font-size: 40px;
    border-bottom: 2px solid $second-color;
    font-family: 'Radley', cursive;
  }
}

#listmessages {
  h1 {
    font-size: 40px;
    border-bottom: 2px solid $second-color;
    font-family: 'Radley', cursive;
  }
  .messageitem {
    background: $front-content-back-color;
    padding: 10px;
    margin: 5px 5px 25px 5px;
    border: 1px solid #cccccc;

    h1 {
      font-size: 24px;
      border: 0;
      padding: 0;
      margin: 0;
      float: left;
      a {
        color: #000;
      }
    }
    h2 {
      margin: 0;
      padding: 0;
      font-size: 15px;
      color: $second-color;
      font-weight: normal;
      float: right;
    }
  }
}

#viewmessage {
  h1 {
    font-size: 40px;
    border-bottom: 2px solid $second-color;
    font-family: 'Radley', cursive;
  }
  h2 {
    font-size: 13px;
  }
  .messagebody {
    border-left: 2px solid $back-color;
    padding: 5px 5px 5px 10px;
  }

  #replymessage {
    h1 {
      font-size: 20px;
    }
  }


}

.comment {
  background-color: $front-content-back-color;
}

.clear {
  clear: both;
}

.admin_videos {
  td {
  width: 300px;
  }
}

.admin_comments {
  td {
  width: 300px;
  }
}

