%table#admin_videos
  %tbody
  - videos.each do |video|
    %tr
      %td= link_to video.name, :action => 'show', :id => video.id
      %td= video.email
      %td= video.submission_date.strftime("%B %d, %Y")
