- if flash[:notice]
  #notice.message= flash[:notice]
- elsif flash[:warning]
  #warning.message= flash[:warning]
- elsif flash[:error]
  #error.message= flash[:error]
- elsif flash[:alert]
  #alert.message= flash[:alert]
